{{ form_ajax('onCalculateIndex', {'class': 'uk-form-stacked', 'data-request-validate': '', 'data-request-flash': ''}) }}

<div class="uk-alert-danger" uk-alert data-validate-error>
    <p data-message></p>
</div>

<fieldset class="uk-fieldset">
    <legend class="uk-legend">Lesbarkeitsscore: <span id="reading-ease-score"></span></legend>

    <div class="uk-margin uk-form-controls">
        <textarea id="calculate-text" name="calculate-text" class="uk-textarea" rows="10" placeholder="Maximal 1000 Zeichen"></textarea>
    </div>

    {{ form_button('Berechnen', {'class': 'uk-button uk-button-primary', 'data-attach-loading': '', 'type': 'submit'}) }}
</fieldset>
{{ form_close() }}

